{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "env"     : {
    "browser" : true,
    "node" : true
  },
  "globals" : {
    "io" : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false
  },
  "rules": {
    "semi" : [2, "always"],
    "padded-blocks" : 0,
    "space-before-function-paren" : 0
  }
}
