.item {
  background: #ddd;
  cursor: pointer;
  font-weight: bold;
  margin: 2px 2px 3px 15px;
  padding: 5px 15px;
}

.itemloaded {
  background: #ddd;
  cursor: auto;
  font-weight: bold;
  margin: 2px 2px 3px 15px;
  padding: 5px 10px;
}

.detail {
  cursor: auto;
  font-weight: normal;
  margin-left: 5px;
}
